<%- include('header', {currentMenu: '', pageTitle: 'Change Password'}); %>
    <div class="row m-0 mt-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 pt-0 pb-0 pl-2 pr-2">
            <div class="alert alert-warning" id="warning-alert">
                <p class="mb-0" id="warning-body"></p>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h2>Change Password</h2>
                </div>
                <div class="card-body">
                    
                    <form action="" method="">
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Current Password</label>
                            <div class="col-md-6">
                                <input type="text" id="password" class="form-control" name="password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password_new" class="col-md-4 col-form-label text-md-right">New Password</label>
                            <div class="col-md-6">
                                <input type="text" id="password_new" class="form-control" name="password_new" required>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <button type="button" class="btn btn-primary" id="button_change">Change</button>
                            <button type="button" class="btn btn-primary" id="button_cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
<%- include('footer', {currentMenu: 'settings'}); %>
<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/nav.js"></script>
<script>
jQuery(document).ready(function() {
    jQuery("#ip_list_dropdown").change(function() {
        selected_machine = jQuery(this).val();
        if(selected_machine !== "") {
            let selected_machine_name = machine_list[selected_machine];
            jQuery("#display_machine_name").text(selected_machine_name);
        }
        else {
            jQuery("#display_machine_name").text("Select a machine");
            selected_machine = 0;
        }
    });
    $('#button_cancel').on('click',function (){
        ipcRenderer.send("change:link", 'settings-page');
    })
    $('#button_change').on('click',async function (){

        let password = jQuery("#password").val();
        let password_new = jQuery("#password_new").val();
        let error_msgs = [];
        if(password == "") {
            error_msgs.push(" - <b>Please enter Current password</b>");
        }
        if(password_new == "") {
            error_msgs.push(" - <b>Please enter New Password</b>");
        }

        if(error_msgs.length > 0) {
            let error_msg = error_msgs.join("<br>");
            jQuery("#warning-body").html(error_msg);
            jQuery("#warning-alert").show();
        }
        else {
            jQuery("#warning-alert").hide();
            let currentUser=await getCurrentUser();
            ipcRenderer.send("sendRequest", selected_machine,'changeCurrentUserPassword', {'id':currentUser['id'],'password':password,'password_new':password_new});
        }
    })
});

ipcRenderer.on("changeCurrentUserPassword", function(e, data) {
    if(data['changeInfo']['status']){
        //ipcRenderer.send("change:link", 'settings-page');
        let error_msg = "<b>Password Changed Successfully</b>";
        jQuery("#warning-body").html(error_msg);
        jQuery("#warning-alert").show();
    }
    else{
        let error_msg = "<b>"+data['changeInfo']['messages']+"</b>";
        jQuery("#warning-body").html(error_msg);
        jQuery("#warning-alert").show();
    }
});
</script>
</body>
</html>