<%- include('header', {currentMenu: 'maint-sort', pageTitle: 'Sort'}); %>
    <div class="row mt-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12" id="fansort_container" style="display: none;">
                    <button id="btn_fansrot_diable" style="font-size: 14px;background-color: darkgray; display: none;" class="button-device-command button-3d button-rectangle"
                            data-device-id="88"
                            data-command="1"
                            data-parameter1="0">Disable Fansort
                    </button>
                    <button id="btn_fansrot_enable" style="font-size: 14px;display: none;" class="button-device-command button-3d button-rectangle"
                            data-device-id="88"
                            data-command="0"
                            data-parameter1="0">Enable Fansort
                    </button>
                </div>
                <div class="mt-5 col-lg-12" id="singulator" style="display: none">
                    <h3>Singulator</h3>
                    <button id="singulator-start" class="button-device-command button-3d button-rectangle"
                            data-device-id="89"
                            data-command="0"
                            data-parameter1="0">Start
                    </button>
                    <button id="singulator-stop" class="button-device-command button-3d button-rectangle"
                            data-device-id="89"
                            data-command="1"
                            data-parameter1="0">Stop
                    </button>
                </div>
                <div class="mt-5 col-lg-12" id="gapper" style="display: none">
                    <h3>Gapper</h3>
                    <button id="gapper-start" class="button-device-command button-3d button-rectangle"
                            data-device-id="89"
                            data-command="2"
                            data-parameter1="0">Start
                    </button>
                    <button id="gapper-stop" class="button-device-command button-3d button-rectangle"
                            data-device-id="89"
                            data-command="3"
                            data-parameter1="0">Stop
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12">
                    <h4>Pe Rising Edge Counter</h4>
                    <table class="table table-sm table-bordered table-striped" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:22%;text-align: center;">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Incline Entry pe</td>
                            <td data-counter-id="20" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Power Turn Entry Pe</td>
                            <td data-counter-id="21" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Induct Pe</td>
                            <td data-counter-id="22" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Sorter Exit Pe</td>
                            <td data-counter-id="23" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Brushroller Jam Pe</td>
                            <td data-counter-id="24" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Reject Pe</td>
                            <td data-counter-id="25" class="counter-value" style="text-align: right"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button style="font-size: 14px;" class="button-device-command button-3d button-rectangle"
                            data-device-id="90"
                            data-command="0"
                            data-parameter1="0">Reset Counter
                    </button>
                </div>
                <div class="col-12 mt-5">
                    <h4>Intralox S04 Timing</h4>
                    <table class="table table-sm table-bordered table-striped" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:22%;text-align: center;">Value(ms)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Min</td>
                            <td data-counter-id="26" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Current</td>
                            <td data-counter-id="27" class="counter-value" style="text-align: right"></td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td data-counter-id="28" class="counter-value" style="text-align: right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('footer', {currentMenu: 'maint-sort'}); %>

<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datatables/datatables.js"></script>
<script src="js/nav.js"></script>
<script>
    let basic_info={}
    jQuery(document).ready(function () {
        jQuery("#ip_list_dropdown").change(function () {
            selected_machine = jQuery(this).val();
            if (selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            } else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
            ipcRenderer.send("get:views", selected_machine, "maint-sort");
        });

    });

    ipcRenderer.on("render:maint-sort", function (e, data) {
        basic_info=data;
        let current_user = basic_info['currentUser'];
        if(current_user.role==1|| current_user.role==2){
            $('#fansort_container').show()
            $('#singulator').show()
            $('#gapper').show()
        }
        ipcRenderer.send("sendRequest", selected_machine,'getMaintViewData', {});
        setInterval(() => {
            ipcRenderer.send("sendRequest", selected_machine,'getMaintViewData', {});
        }, 1000);
    })
    ipcRenderer.on("getMaintViewData", function(e, data) {
        let ioOutputStates = data['ioOutputStates'];
        let counterData = data['countersCurrentValue']

        if(ioOutputStates[selected_machine+"_52"] && ioOutputStates[selected_machine+"_52"]['state']==1){
            $('#btn_fansrot_enable').hide();
            $("#btn_fansrot_diable").show();
        }
        else if(ioOutputStates[selected_machine+"_52"] && ioOutputStates[selected_machine+"_52"]['state']==0){
            $('#btn_fansrot_enable').show();
            $("#btn_fansrot_diable").hide();
        }
        $('.counter-value').each((index, elem) => {
            let counter_id=$(elem).attr('data-counter-id');
            if(counterData[selected_machine+'_'+counter_id]!=undefined){
                $(elem).text(counterData[selected_machine+'_'+counter_id])
            }
        })

        // for(let key in countersCurrentValue){
        //     if(key.indexOf(selected_machine+"_")==0){
        //         let id=key.substring((selected_machine+"_").length);
        //         $('[data-counter-id='+id+']').text(countersCurrentValue[key]);
        //         //$('td[data-counter-id='+id+']').text(countersCurrentValue[key]);
        //     }
        //
        // }


    })
</script>