<%- include('header', {currentMenu: 'maint-devices', pageTitle: 'Devices'}); %>
<div class="row mt-3">

    <div class="col-lg-12" style="display: block; overflow-y: auto; height: 770px">
        <table class="table table-sm table-bordered table-striped" id="table_devices" style="table-layout: fixed">
            <thead>
            <tr class="thead-row">
                <th width="75px" style="text-align: right">Device ID</th>
                <th>Device name</th>
                <th width="92px" style="text-align: right">Device type</th>
                <th width="130px">IP Address</th>
                <th width="50px" style="text-align: center">Status</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
</div>
<style>
    .table-striped > tbody > tr:nth-child(even) > td {
        background-color: #bfdbfe;
    }

    .table-striped > tbody > tr:nth-child(odd) > td {
        background-color: #fff;
    }

    .table-striped > thead > tr > th {
        background-color: #e2e8f0;
    }
    .table-striped {
        position: relative;
    }
</style>
<%- include('footer', {currentMenu: 'maint-devices'}); %>

<script src="js/jquery-bootstrap.js"></script>
<script src="js/jquery.newsTicker.js"></script>
<script src="js/daterangepicker/moment.min.js"></script>
<script src="js/datatables/datatables.js"></script>
<script src="js/nav.js"></script>

<script>
    let basic_info = {};
    let data_table;

    jQuery(document).ready(function () {
        jQuery("#ip_list_dropdown").change(function () {
            selected_machine = jQuery(this).val();
            if (selected_machine !== "") {
                let selected_machine_name = machine_list[selected_machine];
                jQuery("#display_machine_name").text(selected_machine_name);
            } else {
                jQuery("#display_machine_name").text("Select a machine");
                selected_machine = 0;
            }
            ipcRenderer.send("get:views", selected_machine, "maint-devices");
        });

        data_table = jQuery('#table_devices').DataTable({
            dom: 'Bfrtip',
            paging: false,
            info:false,
            buttons: [
            ],
            "columns": [
                { "orderable": true, className: "text-right" },
                null,
                { "orderable": false, className: "text-right" },
                { "orderable": false },
                { "orderable": false },
            ],
            "order": [],

        });

        $('.thead-row').children().css({position: 'sticky', top:0});
    });
    ipcRenderer.on("render:maint-devices", function (e, data) {
        let devices = [], devices_html = '';
        basic_info = data;
        devices = Object.values(basic_info['devicesInfo']);

        devices.sort((a,b)=> a.device_id-b.device_id);
        devices.map(d => ({...d, states: 0})).forEach(d => {
            if(Number(d.gui_device_id) <= 0){
                return
            }
            data_table.row.add([
                '<span style="padding-right: 4px">'+d.device_id+'</span>',
                d.device_name,
                d.device_type,
                d.ip_address,
                (d.state === 1 ?
                        '<span' + ' data-id=' + d.device_id + 'class="state-row" style="background-color: #4fe21f; width: 12px;height: 12px; display: inline-flex; text-align: center"></span>'
                        : '<span' + ' data-id=' + d.device_id + ' class="state-row" style="background-color: #f43f5e; width: 12px;height: 12px; display: inline-flex; text-align: center"></span>'
                )
            ]);
            // devices_html += '<tr>' +
            //     '<td>' +
            //     d.machine_id +
            //     '</td>' +
            //     '<td>' +
            //     d.device_id +
            //     '</td>' +
            //     '<td>' +
            //     d.device_name +
            //     '</td>' +
            //     '<td>' +
            //     d.device_type +
            //     '</td>' +
            //     '<td>' +
            //     d.ip_address +
            //     '</td>' +
            //     "<td>" +
            //     (d.state === 1 ?
            //             '<span' + ' data-id=' + d.device_id + 'class="state-row" style="background-color: #4fe21f; width: 12px;height: 12px; display: inline-flex"></span>'
            //             : '<span' + ' data-id=' + d.device_id + ' class="state-row" style="background-color: #f43f5e; width: 12px;height: 12px; display: inline-flex"></span>'
            //     ) +
            //     "</td>" +
            //     "</tr>";
        });
        // jQuery("#table-devices").empty();
        // jQuery("#table-devices").append(devices_html);
        data_table.draw()
        setInterval(() => {
            ipcRenderer.send("sendRequest", selected_machine,'getGeneralDevicesViewData', {});
        }, 1000);

    });
    ipcRenderer.on("getGeneralDevicesViewData", function (e, data) {

        let device_states= Object.values(data['devicesStates']);
        let allStatesRows= jQuery('.state-row');

        allStatesRows.each((key, elem) => {
            let rowId=$(elem)[0].dataset.id, deviceData = device_states.find(d=> d.device_id == rowId);

            if(deviceData.device_state==1){
                $(elem).css('background-color', "#4fe21f");
            }
            if(deviceData.device_state==0){
                $(elem).css('background-color', "#f43f5e");
            }
        });
    });
</script>
